.category__alert--success {
  background-color: #d0e7de;
  color: #165d41;
  padding: 10px 30px;
}

.category__alert--error {
  background-color: #fad2d5;
  color: #8e343d;
  padding: 10px 30px;
}

.category__content {
  margin: 0 auto;
  padding: 60px 15px;
  max-width: 1230px;
}

.create-form {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  text-align: center;
  width: 70%;
}

.create-form__input {
  width: 70%;
}

.create-form__input input {
  border: 1px solid #ddd;
  border-radius: 3px;
  padding: 10px;
  width: 100%;
  height: 40px;
}

.create-form__button {
  width: 20%;
}

.create-form__button-submit {
  background-color: #000;
  border: none;
  border-radius: 3px;
  color: #fff;
  cursor: pointer;
  padding: 10px;
  width: 100%;
  height: 40px;
}

.category-table {
  margin: 30px auto;
  text-align: left;
  width: 70%;
}

.category-table__inner {
  width: 100%;
}

.category-table__row {
  border-bottom: 1px solid #ddd;
}

.category-table__heading {
  font-weight: 700;
  padding: 12px;
  text-align: left;
}

.category-table__item:first-of-type {
  padding: 12px;
  width: 90%;
}

.update-form {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.update-form__input {
  line-height: 50%;
  width: 80%;
}

.update-form__input input {
  border: none;
  outline: none;
  width: 100%;
}

.update-form__button {
  width: 50px;
}

.update-form__button-submit {
  background-color: #0000ff;
  border: none;
  border-radius: 3px;
  color: #fff;
  cursor: pointer;
  padding: 5px;
  width: 100%;
}

.delete-form__button {
  width: 50px;
}

.delete-form__button-submit {
  background-color: #ff0000;
  border: none;
  border-radius: 3px;
  color: #fff;
  cursor: pointer;
  padding: 5px;
  width: 100%;
}
